<!DOCTYPE html>
<html lang="en">
<head>
		<title>Admev Log-In</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>

<!-- -------------------Barra de navegacion superior ------------------------->

<nav class="navbar navbar-expand-sm navbar-dark bg-success">
	<!-- Brand -->
	<div class="container">
		<a class="navbar-brand"  href="principal.html">ADMEV</a>
		<a class="navbar-brand navbar-right"  href="#">CUCEI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
      </button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="log-in.html">Log In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Solicitud</a>
				</li>

				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
						AUDITORIOS
					</a>
					<div class="dropdown-menu bg-light " >
						<a class="dropdown-item" href="../auditorios/Auditorio.html">Matute Remus</a>
						<a class="dropdown-item" href="#">Enrique Diaz</a>
						<a class="dropdown-item" href="#">Link 3</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<br>
<!-- -------------------Log-In------------------------->
 <div class="flex-container">
        <div class="card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="img-circle" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="border-radius: 50%" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar
                    </label>
                </div>
                <button class="btn btn-lg btn-block btn-signin btn-primary" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                ¿Olvidaste tu contraseña?
            </a>
        </div>
    </div>


</body>
