<!DOCTYPE html>
<html lang="en">
<head>
		<title>Admev Log-In</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link href="jquery.bsPhotoGallery.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="jquery.bsPhotoGallery.js"></script>

</head>

<body>

<!-- -------------------Barra de navegacion superior ------------------------->

<nav class="navbar navbar-expand-sm navbar-dark bg-success">
	<!-- Brand -->
	<div class="container">
		<a class="navbar-brand"  href="principal.html">ADMEV</a>
		<a class="navbar-brand navbar-right"  href="#">CUCEI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
      </button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="log-in.html">Log In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Solicitud</a>
				</li>

				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
						AUDITORIOS
					</a>
					<div class="dropdown-menu bg-light " >
						<a class="dropdown-item" href="matute.html">Matute Remus</a>
						<a class="dropdown-item" href="#">Enrique Diaz</a>
						<a class="dropdown-item" href="#">Link 3</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!---------------------------------Nombre Auditorio--------------------------------->

	<div class="page-header AudiTitle AudiTitle" style="padding: 2%">
	  <h1><small> 	Auditorio </small> Enrique Diaz de Leon</h1>
	</div>

<div class="flex-container" >
	<div>
		<div>
			<h3 style="color: #3bd65f; font-weight: bold" >Descripcion</h3>
			<p>El auditorio Enrique Diaz de Leon se encuentra ubicado en el Edificio de Rectoria del CUCEI, en el son realizadas las principales ponencias del centro universitario, así como las bienvenidas a los estudiantes cada semestre y reclutamiento de algunas empresas. Cuenta con una explanada externa pequeña y un solo acceso al publico.</p>
		</div>
<!---------------------------------Galeria de Imagenes--------------------------------->

		<div>
			<div style="justify-content: center">
				<div class="row flex-conteiner" style="padding: 2%">
			    <div class="thumbnail">
			    	<a href="https://fastly.4sqi.net/img/general/200x200/68575979_6AJvU-_6MlpbmuQN_zdgAeZuvwuclOm0UgG4NBj1EcU.jpg">
				      <img class="imgAudiGal" src="https://fastly.4sqi.net/img/general/200x200/68575979_6AJvU-_6MlpbmuQN_zdgAeZuvwuclOm0UgG4NBj1EcU.jpg">
				      <div class="caption">
				        <h6>Escenario</h6>
				      </div>
				    </a>
			    </div>
			    <div class="thumbnail">
		    		<a href="http://www.ntrguadalajara.com/evidimg/2017-03-28_10-03-40___7350.png">
				      <img class="imgAudiGal" src="http://www.ntrguadalajara.com/evidimg/2017-03-28_10-03-40___7350.png">
				      <div class="caption">
				        <h6>Entrada</h6>
				      </div>
				    </a>
		    	</div>
		    	<div class="thumbnail">
			   	  <a href="http://static.panoramio.com/photos/original/12041861.jpg">
				      <img class="imgAudiGal" src="http://www.comsoc.udg.mx/sites/default/files/styles/noticia/public/161004_inauguracion_saber_ingenieria_quimica_2016_galfonzo_3.jpg?itok=E9fw6V0E" href="http://www.comsoc.udg.mx/sites/default/files/styles/noticia/public/161004_inauguracion_saber_ingenieria_quimica_2016_galfonzo_3.jpg?itok=E9fw6V0E">
				      <div class="caption">
				        <h6>Asientos</h6>
			    	</div>
			    	</a>
			    </div>
		  	</div>
		  </div>
		</div>
<!---------------------------------Lista de equipamiento--------------------------------->

		<div class="flex-container">

			<div>
				<ul class="list-group">
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
		  				Cañon
		    			<span class="badge badge-primary badge-pill">1</span>
		  			</li>
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
						Pantallas
						<span class="badge badge-primary badge-pill">0</span>
					</li>
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
		   			    Asientos
		    	    	<span class="badge badge-primary badge-pill">200</span>
		            </li>
				</ul>
			</div>
			<div>
				<ul class="list-group">
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
		  				Mesas presidium
		    			<span class="badge badge-primary badge-pill">2</span>
		  			</li>
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
						Microfonos
						<span class="badge badge-primary badge-pill">3</span>
					</li>
		  			<li class="list-group-item d-flex justify-content-between align-items-center">
		   			    Internet/modems
		    	    	<span class="badge badge-primary badge-pill">2</span>
		            </li>
				</ul>
			</div>

		</div>




	</div>
<!---------------------------------Calendario--------------------------------->
		<div>
			<iframe src="https://calendar.google.com/calendar/b/1/embed?title=ADMEV&amp;showPrint=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%2399ff99&amp;src=54plri28kbvcvqisthdovtn4ps%40group.calendar.google.com&amp;color=%238D6F47&amp;src=es.mexican%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FMexico_City" style="border-width:0" width="600px" height="600px" frameborder="50" scrolling="no"></iframe>
		</div>
	</div>


	
</body>

